
    .nav{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        text-align:center;
      }
      .nav button{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: italic;
      }
      .nav button:hover{
        background-color: rgb(35, 35, 55);

    }
      

