.social{
    text-align: center;
    
}
.social button:hover{
    background-color: rgb(35, 35, 55);
}
.social footer h1{
    color: rgb(81, 81, 255);
    font-family: cursive;
}
.social footer h3{
    font-family: cursive;
    
}